[Unit]
Description=SW
After=syslog.target network.target

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStartPre=/bin/sleep 3
ExecStart=firefox --kiosk 172.16.15.7:3000
KillMode=process
Restart=always
User=kintai
Group=root

[Install]
WantedBy=multi-user.target
