[Unit]
Description=FastAPI
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/home/kintai/server/back
EnvironmentFile=/home/kintai/server/settings
ExecStart=/home/kintai/server/back/.venv/bin/python main.py
KillMode=process
Restart=always
User=kintai
Group=root

[Install]
WantedBy=multi-user.target